@font-face {
  font-family: CandaraDL;
  src: url('Candara.ttf'); 
}

#header {
  border-bottom: 2px solid #B4881D;
  padding-bottom: 20px;
}

#footer {
  border-top: 2px solid #B4881D;
  padding-top: 10px;
}

#wrap {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

#main {
  float: left;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#frame {
  text-align: left;
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 30em;
}

.name {
  color: #B4881D;
  font-size: 25pt;
}

.subname {
  color: #839496;
  list-style-type: none;
  margin-left: 2px;
  font-size: 12pt;
}

.section {
  color: #B4881D;
}

body {
  font-family: candara, CandaraDL, menlo;
  font-size: 12pt;
  background-color: #002B36;
  color: #839496;
}

LI.text {
  margin-left: 20px;
  margin-top: 7px;
  line-height: 1.5
}

LI.textbar {
  margin-bottom: 7px;
  list-style-type: square;
  line-height: 1.5
}

ul {
    list-style-position: outside;
    margin-top: 7px;
    margin-bottom: 0;
}

A.text {
  color: #2E8CCF;
  text-decoration: none;
}

A.sub {
  color: #889849;
  text-decoration: none;
}

A.bar {
  color: white;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
  color: #D34C14;
}

